.abc
{
  
    width: 40%;
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: none;
  
   
    
}
#lol
{
    
    font-size:120%;
    padding: 55px;
}
#lol1
{
    font-size:120%;
 padding: 480px;
}
p{
    font-size:x-large;
}
#pop1{
    width: 90.75%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#roh{
    width: 2%;
    border-left: none;
    border-right:none;
    border-top: none;

}


#rox{
    border-left: none;
    border-right:none;
    border-top: none;
    width: 4%;
}
.pic{
    font-size: 100%;
}
#lol2{
    font-size:120%;
    padding: 513px;
}
#meh{
    width: 40%;
    length="45px";
    border: none;
    border-bottom: 1px solid;
}
#reh{
    width: 2%;
}
#lip{
    font-size: 20px;
}
#hip{
    font-size: 15px;
}
table{
    padding-left: 50px;

    border: 1px;
  
}
td{
    padding-left: 20px;
    
   
}
#kin{
    width: 50%;
}
fieldset{
    width: 80%;
   margin-left: 5%;
}
#pap{
    font-size: 20px;
}
#ow{
    font-size: 17px;
}
#pla{
    margin-left: 2%;
    
}
